{% extends "blog/base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<article>
  <h1>{{ post.title }}</h1>
  <p><small>by {{ post.author.username }} • {{ post.published_date|date:"M d, Y H:i" }}</small></p>
  <div>{{ post.content|linebreaks }}</div>

  {% if user == post.author %}
    <p>
      <a href="{% url 'post-update' post.pk %}">Edit</a> |
      <a href="{% url 'post-delete' post.pk %}">Delete</a>
    </p>
  {% endif %}
  <p><a href="{% url 'posts' %}">Back to posts</a></p>
</article>
{% endblock %}

